# Python
venv/
*.pyc
__pycache__/
.Python
env/
*.egg-info/

# Database
*.db

# Static cache files
static/cache/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# Screenshots from scraper
*.png

# CSV files
*.csv